* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(32, 32, 32);
}
a:hover {
  opacity: 70%;
}

/* ---------------Header------------------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  height: 64px;
  background-color: white;
}

.emblem {
  display: flex;
  align-items: center;
  height: 64px;
}
.emblem span {
  color: rgb(46, 46, 46);
}
.emblem img {
  height: 60px;
  margin-top: 4px;
}

.nav-list {
  color: rgb(31, 31, 31);
  font-size: 1.3rem;
  display: flex;
  gap: 16px;
  margin: 0;
}

/* --------------Small screen Header---------------- */
.nav-icons {
  height: 64px;
  display: none;
}
.nav-icon-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}
.nav-icon-list li img {
  height: 50px;
}

/* -----------------Hero-------------------- */
.hero {
  display: flex;
  background-color: lightgray;
}
.image-container {
  margin: 32px 24px;
  width: 60%;
  height: auto;
}
.image-container img {
  max-width: 100%;
  max-height: 100%;
}
.hero-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: lightslategray;
}
.hero-info h1 {
  font-size: 2.6rem;
}
.hero-info h4 {
  font-size: 1.4rem;
  margin: 0 0 36px;
}
.hero-info a {
  background-color: lightslategrey;
  font-size: 1.5rem;
  padding: 8px 130px;
  color: white;
}

/* ----------------keep practicing------------ */
.keep-practicing {
  display: flex;
  margin: 32px 0 32px 24px;
}
.overview-container {
  margin-right: 24px;
  width: 60%;
  height: auto;
}
.overview-container img {
  max-width: 100%;
  max-height: 100%;
}
.activity {
  display: flex;
  margin: 0 0 16px 16px;
}
.activities {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.activities-image-container {
  width: 35%;
  height: auto;
}

.activities-image-container img {
  max-width: 100%;
  height: auto;
}
.activity-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  margin-left: 15px;
}
.activity-details h2 {
  margin: 0;
}
.activity-details p {
  margin: 8px 0;
}

/* --------------Start learning-------------- */
.start-learning {
  background-color: lightgray;
}

.start-learning-container {
  padding: 32px 72px;
}
.start-learning-container h2 {
  text-align: center;
  margin-bottom: 32px;
}

.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.card {
  background-color: white;
}

.card img {
  max-width: 100%;
}
.card-info {
  padding: 16px;
}
.mobile {
  display: none;
}

/* --------------Thesis-------------- */
.thesis {
  margin: 32px 24px;
}
.thesis h1 {
  text-align: center;
  margin: 32px;
  font-weight: 900;
}
.thesis-content {
  display: flex;
  width: 100%;
}
.thesis-video-container {
  width: 60%;
}
.thesis-video-container video {
  width: 100%;
}
.thesis-cards {
  margin-left: 24px;
  width: 40%;
}
.thesis-card {
  display: flex;
  width: 100%;
}
.thesis-image {
  width: 35%;
}
.thesis-image img {
  width: 100%;
}
.thesis-info {
  width: 65%;
  padding-left: 16px;
}

footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid gray;
  padding: 16px 24px;
}

@media screen and (max-width: 600px) {
  header {
    display: none;
  }
  .nav-icons {
    display: block;
  }
  .hero {
    flex-direction: column;
  }
  .image-container {
    margin: 0;
    width: 100%;
  }
  .hero-info {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 32px;
  }
  .hero-info a {
    padding: 8px 0;
    text-align: center;
    width: 100%;
  }
  .overview-container {
    display: none;
  }
  .keep-practicing {
    margin: 16px;
  }

  .activities {
    width: 100%;
  }
  .activity {
    margin: 16px auto;
    flex-direction: column;
  }
  .activities-image-container {
    width: 100%;
  }
  .activity-details {
    width: 100%;
    margin: 16px;
  }

  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .courses {
    grid-template-columns: 1fr;
    gap: 8px;
  }
  .start-learning {
    background-color: white;
  }
  .start-learning-container {
    margin: 0 16px;
    padding: 32px 0px;
  }
  .start-learning-container h2 {
    margin-top: 0;
  }

  .card {
    background-color: lightgray;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .card img {
    display: none;
  }
  .card-info h6,
  .card-info p {
    display: none;
  }

  .card h4 {
    margin: 16px 0;
  }
  .card-info {
    padding: 0 16px;
  }
  .thesis-content {
    width: 100%;
  }
  .thesis {
    margin: 0 0 24px;
  }
  .thesis-video-container {
    width: 100%;
  }

  .thesis-cards,
  .thesis-video-container h4,
  .thesis-video-container p,
  .terms-privacy {
    display: none;
  }
}
